# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db